<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Muebleria Imperio</title>
</head>
<body>
    <header>

    </header>
    <main>

    </main>
    <footer>
        <div class="logo">
            <p>muebleria imperio</p>
        </div>
        <div class="socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <section class="empresa">
            <h4>empresa</h4>
            <ul>
                <li><a href="">quienes somos</a></li>
                <li><a href="">políticas de privacidad</a></li>
                <li><a href="">terminos y condiciones</a></li>
            </ul>
        </section>
        <section class="contacto">
            <h4>contacto</h4>
            <ul>
                <li>ciudad de buenos aires</li>
                <li class="number">+54 9 11 24148896</li>
                <li>muebleriaimperio@gmail.com</li>
            </ul>
        </section>
        <form action="">
            <label for="">¿Te encantan las ofertas?</label>
            <div>
                <input class="input-style" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div>
                <input class="input-style" type="email" name="emailUsuario" placeholder="Email">
            </div>
            <div>
                <button class="button" type="submit">Suscribir</button>
            </div>
        </form>
    </footer>
</body>
</html>