@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('carousel.css');
@import url('password.css');
@import url('login.css');
@import url('carrito.css');
@import url('register.css');
@import url('productDetail.css');
@import url('adminCreate.css');
@import url('adminEdit.css');
@import url('editProfile.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;


}

.validationError{
    position: absolute;
    color: rgb(8, 1, 1);
    line-height: 63px;
    font-size: 13px;
}


