<footer>
    <div class="logofooter">
        <img src="/images/logo/logo.png" alt="">
    </div>
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic">Sobre nosotros</div>
                <p>strújem bombáchem</p>
            </div>
            <div class="lower">
                <div class="topic">Contactanos</div>
                <div class="phone">
                    <a href="#"><i class="fas fa-phone-volume"></i>+54 11xxxxxxx</a>
                </div>
                <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Productos</div>
            <div><a href="#">Cocina</a></div>
            <div><a href="#">Comedor</a></div>
            <div><a href="#">Dormitorio</a></div>
            <div><a href="#">Living</a></div>
            <div><a href="#">Oficina</a></div>
        </div>
        <div class="right box">
            <div class="topic">Te encantan nuestras ofertas? Suscribite</div>
            <form action="#">
                <input type="text" placeholder="Ingresa tu mail">
                <input type="submit" name="" value="Suscribir">
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2021 <a href="#">Grupo 1 Com. 8 Formar - Digital House</a> derechos reservados</p>
    </div>
</footer>