<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/public/css/general.css">
    <title>Muebleria Imperio</title>
</head>
<body> 
  <div class="main">
       <h2>PRODUCTOS DESTACADOS</h2>
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Dormitorio/cama-rica-hermosa-de-la-imperial-los-muebles-antiguos-del-dormitorio-interior-elegante-brillante-acogedor-con-el-toldo-111713102.jpg" alt="Mueble de Dormitorio" style="width:100%">
              <div class="container">
                <h2>Mueble de Dormitorio</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Living/muebles-del-sofá-47055383.jpg" alt="Living" style="width: 100%">
              <div class="container">
                <h2>Living</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p> 
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Dormitorio/embroma-el-sitio-con-muebles-amarillos-98865815.jpg" alt="Mueble dormitorio" style="width:100%">
              <div class="container">
                <h2>Mueble de dormitorio</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
          </div>
         
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Dormitorio/muebles-del-dormitorio-854485.jpg" alt="Mueble dormitorio" style="width:100%">
              <div class="container">
                <h2>Mueble de dormitorio</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Living/muebles-y-lámpara-modernos-18385287.jpg" alt="Living" style="width:100%">
              <div class="container">
                <h2>Living</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Comedor/diseño-interior-para-el-comedor-con-sillas-de-terciopelo-azul-mesa-madera-estilo-escandinavo-la-sala-y-moqueta-vintage-fondo-gris-19281957.jpg" alt="Mueble Comedor" style="width:100%">
              <div class="container">
                <h2>Mueble de Comedor</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Comedor/comedor-moderno-8870099.jpg" alt="Mueble Comedor" style="width:100%">
              <div class="container">
                <h2>Mueble de comedor</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
          </div>
         
          <div class="column">
            <div class="card">
              <img src="/images/categoria/Living/muebles-viejos-en-el-palacio-de-versalles-15372441.jpg" alt="Living" style="width:100%">
              <div class="container">
                <h2>Living</h2>
                <p class="title">Precio de lista: </p>
                <p class="efectivo"> Efectivo: </p>
                <p><button class="button">Agregar Carrito</button></p>
              </div>
            </div>
        </div> 
      </div>    
</body>
</html>