<header class="admin-header">
    <nav class="nav-admin">
        <h4>Mueblería Imperio Admin</h4>
        <ul>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Productos</a></li>
        </ul>
    </nav>
</header>