<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../admin/adminHeader.ejs') %>
    <main class="admin-main-product">
        <div class="head-bar">
            <h4>Productos</h4>
            <a href="#"><div class="add-button">Agregar</div></a>
        </div>
        
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mesa</td>
                    <td>Comedor</td>
                    <td>$5000</td>
                    <td><a href="#"><div class="edit-button"><i class="fas fa-pen"></i></div></a></td>
                    <td><a href="#"><div class="delete-button"><i class="fas fa-trash"></i></div></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Escritorio</td>
                    <td>Dormitorio</td>
                    <td>$7050</td>
                    <td><a href="#"><div class="edit-button"><i class="fas fa-pen"></i></div></a></td>
                    <td><a href="#"><div class="delete-button"><i class="fas fa-trash"></i></div></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Alacena</td>
                    <td>Cocina</td>
                    <td>$4870</td>
                    <td><a href="#"><div class="edit-button"><i class="fas fa-pen"></i></div></a></td>
                    <td><a href="#"><div class="delete-button"><i class="fas fa-trash"></i></div></a></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>