<header class="admin-header">
    <nav class="nav-admin">
        <h4><a href="/admin">Mueblería Imperio Admin</a></h4>
        <ul>
            <li><a href="#">Categorias</a></li>
            <li><a href="/admin/products">Productos</a></li>
        </ul>
    </nav>
</header>