<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head.ejs') %>

<body>
  <%- include('partials/header.ejs') %>

  <main class="home">
    <div class="register">
      <form action="/register.html" method="post" class="card">
        <h1>Crear Cuenta</h1>
        <div class="formulario">
          <label for="nombre">Nombre:</label>
          <input type="text" placeholder="Ingrese su nombre" name="nombre" id="nombre" required><br>

          <label for="apellido">Apellido:</label>
          <input type="text" placeholder="Ingrese apellido" name="apellido" required><br>

          <label for="email">Email:</label>
          <input type="email" placeholder="Ingrese email" name="email" required><br>

          <label for="pass">Password:</label>
          <input type="password" placeholder="Password" name="pass" required><br>

          <label for="pass">Confirmar Password:</label>
          <input type="password" placeholder="password" name="pass" required><br>

        </div>

        <button class="button button--positionRegister" onclick="validate()" id="button"
          type="submit">Registrarse</button>
        <a href="/login">
      </form>
    </div>
    <!--Carrousel-->
    <section class="carousel-container">

      <div class="slides fade">
        <img src="/images/banners/banner5.jpg" alt="">
      </div>

      <div class="slides fade">
        <img src="/images/banners/banner6.jpg" alt="">
      </div>

      <div class="slides fade">
        <img src="/images/banners/banner7.jpg" alt="">
      </div>

      <div class="slides fade">
        <img src="/images/banners/banner8.jpg" alt="">
      </div>

      <!--Flechas de desplazamiento -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!--Selectores de banner-->
      <div class="dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>

      </div>
    </section>
    <!-- Fin carrousel -->
  </main>

  <%- include('partials/footer.ejs') %>

</body>

</html>