<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <!--body-->
      <div class="login">
        <form action="/index" method="POST" class="card">
          <div>
            <h1> Iniciar Sesion</h1>
          </div>
          <input class="card__input input--style" type="text" name="email" placeholder="E-mail" required> 
          <input class="card__input input--style" type="password" name="contraseña" id="" placeholder="Contraseña"
            required>
          <div class="check">
            <input class="RecordarChecbox" type="checkbox" name="Recordar">
            <label class="Recordar" for="Recordar">Recordarme</label>
          </div>
          <input type="submit" role="button" value="Ingresar" class="button button--positionIngresar">
          
          <a class="register-link" href="/users/register">¿No tienes una cuenta?</a>
        </form>
      </div>

      <%- include('../partials/footer.ejs') %>

  </body>

</html>